DEBUG=True
SECRET_KEY=your_secret_key_here

ALLOWED_HOSTS=localhost,127.0.0.1,your_domain_or_subdomain
CSRF_TRUSTED_ORIGINS=your_domain_or_subdomain

#database
# MSSQL'de oluşturduğun veritabanı bilgileri
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost


# IYZICO
IYZICO_API_KEY=your_iyzico_api_key
IYZICO_SECRET_KEY=your_iyzico_secret_key
IYZICO_BASE_URL=sandbox-api.iyzipay.com
IYZICO_3DS_CALLBACK_URL=your_domain_or_subdomain/payments/iyzico/3ds/callback/
PUBLIC_BASE_URL = your_domain_or_subdomain

IYZICO_ENV=sandbox
IYZICO_SANDBOX_IDENTITY_NUMBER=31300864726 #iyzico örnek